#home-container { 
    margin: auto;
    padding: 10px;
    display: flex;
}

form {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

#button-container {
    margin: auto;
    display: flex;
    flex-direction: row; 
    padding-right: 18px;   
}

button {
    min-width: 10em;
    
}